





li {
  list-style-type: none;
}

.separator {
  border-bottom: 1px solid #ced4da;
}

li:hover,
li:focus {
  color: #198754;
}

.check-icon {
  visibility: hidden;
  margin-left: .25rem;
  margin-right: .25rem;
}

li:hover .check-icon,
li:focus .check-icon {
  visibility: visible;
}




